:root{
    --lightgreen: rgb(163, 211, 163);
    --darkgreen: rgb(28, 66, 28);
    --lightgrey: rgb(209, 209, 209);
    --darkgrey: rgb(34, 34, 34);
}

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    background-color: rgb(19, 19, 19);
    height: 70px;
    position: absolute;
    z-index: 99;
    width: 100%;
}

ul{
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
}

li{
    list-style: none;
    margin-right: 20px;
    font-size: 15px;
    padding-bottom: 5px;
}

li:nth-child(3){
    margin-right: 40px;
}

a{
    text-decoration: none;
    color: var(--darkgrey);
    border-bottom: 1px solid black;
    color: white;
}

.header_image{
    background-color: var(--darkgreen);
    background-image: url("photos_1/Succulent_Far.jpeg");
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.blur{
    height: 800px;
    width: 700px;
    margin: 0 auto;
    transform: translateY(100PX);
    backdrop-filter: blur(10px);
    border-radius: 10px;
}