:root{
    --lightgreen: rgb(163, 211, 163);
    --darkgreen: rgb(55, 103, 55);
    --lightgrey: rgb(209, 209, 209);
    --darkgrey: rgb(34, 34, 34);
}

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    background-color: rgb(0, 0, 0, 0.9);
    height: 70px;
    position: absolute;
    z-index: 99;
    width: 100%;
}

.logo{
    max-width: 50px;
    position: absolute;
    margin-top: 10px;
}

ul{
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
}

li{
    list-style: none;
    margin-right: 20px;
    font-size: 15px;
    padding-bottom: 5px;
}

li:nth-child(3){
    margin-right: 40px;
}

a{
    text-decoration: none;
    border-bottom: 1px solid black;
    color: white;
    transition: color 0.1s ease;
}

a:hover{
    color: var(--darkgreen);
}

a:active{
    color: var(--lightgreen);
}

.header{
    background-color: var(--darkgreen);
    background-image: url("../photos_1/cacti_cover.webp");
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-flow: column nowrap;
}

.blur{
    height: 400px;
    width: 700px;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 15px;
    transition: height width 0.3s;
}

.main_text{
    transform: translateY(-100px);
    color: rgb(71, 71, 71);
    text-align: center;
    position: absolute;
}

h1{
    margin: 20px 0;
}

h2{
    margin-bottom: 20px;
    font-size: 18px;
}

@media all and (max-width: 450px){
    .blur{
        height: 520px;
        width: 300px;
    }
}

.socials{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
    border: 1px solid green;
}

.fa-brands{
    padding: 20px;
    transition: filter 0.1s ease;
    margin: 0 10px;
}

.fa-instagram{
    margin-right: 30px;
}

.fa-brands:hover{
    filter: invert(0.4);
}

.about{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    border: 1px solid red;
}

.about_me-text{
    max-width: 250px;
    text-align: left;
    line-height: 21px;
}

#plant_head{
    height: 600px;
    border: 1px solid blue;
    margin-bottom: 30px;
}