:root{
    --lightgreen: rgb(176, 227, 176);
    --darkgreen: rgb(55, 103, 55);
    --lightgrey: rgb(209, 209, 209);
    --darkgrey: rgb(34, 34, 34);
}

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    background-color: rgb(0, 0, 0, 0.9);
    height: 70px;
    position: absolute;
    z-index: 99;
    width: 100%;
}

.logo{
    max-width: 50px;
    position: absolute;
    margin-top: 10px;
}

ul{
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
}

li{
    list-style: none;
    margin-right: 20px;
    font-size: 15px;
    padding-bottom: 5px;
}

li:nth-child(3){
    margin-right: 40px;
}

a{
    text-decoration: none;
    border-bottom: 1px solid black;
    color: white;
    transition: color 0.1s ease;
}

a:hover{
    color: var(--darkgreen);
}

a:active{
    color: var(--lightgreen);
}

.header{
    background-color: var(--darkgreen);
    background-image: url("../photos_1/cacti_cover.webp");
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-flow: column nowrap;
}

.blur{
    height: 310px;
    width: 700px;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 15px;
    transition: height width 0.3s;
}

.main_text{
    transform: translateY(-100px);
    color: rgb(71, 71, 71);
    text-align: center;
    position: absolute;
}

h1{
    margin: 20px 0;
    font-size: 40px;
}

h2{
    margin-bottom: 20px;
    font-size: 18px;
}

.socials{
    position: absolute;
    right: 0;
    margin-top: 20px;
}

.fa-brands{
    padding: 20px;
    transition: filter 0.1s ease;
}

.fa-instagram{
    margin-right: 30px;
}

.fa-brands:hover{
    filter: invert(0.4);
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px 0;
}

.about_background{
    background-image: url("../photos_1/leaves-background.webp");
    background-position: center;
    height: 500px;
    width: 100%;
    position: relative;
}

.about-over{
    position: absolute;
    width: 100%;
    height: 630px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.about_me-text{
    max-width: 350px;
    text-align: left;
    line-height: 25px;
    color: white;
    font-size: 20px;
    padding: 20px;
    border-radius: 15px;
}

h3{
    color: white;
    font-size: 40px;
}

#plant_head{
    height: 600px;
    border: 15px solid white;
    border-radius: 25px;
    /* transform: translateY(-60px); */
}

.plants{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.card-container{
    width: 180px;
    height: 250px;
    perspective: 1000px;
    border: 2px solid black;
    border-radius: 15px;
    margin: 40px;
}

.plant-card{
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card-container:hover .plant-card{
    transform: rotateY(180deg);
}

.card-front, .card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-back{
    height: 100%;
    width: 100%;
    flex-flow: column nowrap;
    justify-content: space-around;
    background-color: rgb(106, 124, 106);
    color: white;
    text-align: center;
    transform: rotateY(180deg);
    border-radius: 15px;
}

.plant_image{
    background-color: var(--darkgreen);
    height: 100%;
    width: 100%;
    border-radius: 15px;
}

h4{
    font-size: 18px;
    margin-top: 10px;
}

p.plants{
    font-size: 12px;
    margin: 15px;
}

.buy_me{
    padding: 10px;
    background-color: white;
    border: 2px solid var(--darkgreen);
    color: var(--darkgreen);
    border-radius: 5px;
    font-weight: 600;
    transition: color 0.2s;
}

.buy_me:hover{
    color: black;
    font-size: 12px;
}

.formContainer{
    padding: 20px;
    font-size: 12px;
    display: flex;
    border-radius: 15px;
    background-color: var(--lightgrey);
    position: absolute;
}

input{
    margin: 10px 5px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    outline: none;
}

input:hover{
    color: var(--darkgreen);
}

input:focus{
    border: 1px solid var(--lightgreen);
}

.submit-payment{
    display: flex;
    justify-content: flex-end;
}

#place-order{
    padding: 10px;
    border-radius: 10px;
    border: 2px solid var(--darkgreen);
}

footer{
    background-color: var(--darkgrey);
    color: white;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    margin-top: 30px;
}

.links{
    display: flex;
    flex-flow: row wrap;
}

.links a{
    margin: 0 5px;
}

h4{
    font-size: 14px;
}

@media all and (max-width: 1100px){
    .blur{
        height: 325px;
        width: 300px;
    }

    h1{
        font-size: 33px;
    }

    h2{
        font-size: 14px;
    }

    .socials{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px;
    }

    .fa-instagram{
        margin-right: 0;
    }

    #plant_head{
        margin-top: 20px;
        max-height: 300px;
        border: 10px solid white;
    }

    .about{
        margin: 0;
    }

    .about_background{
        height: 800px;
    }

    .about-over{
        flex-flow: column nowrap;
        height: 800px;
    }

    h3{
        font-size: 26px;
    }

    p{
        font-size: 14px;
        line-height: 20px;
        text-align: center;
    }
}

.formContainer{
    display: none;
}

.payment-toggle:hover + .formContainer{
    display: block;
    opacity: 1;
}