:root{
    --lightgreen: rgb(163, 211, 163);
    --darkgreen: rgb(28, 66, 28);
    --lightgrey: rgb(209, 209, 209);
    --darkgrey: rgb(34, 34, 34);
}

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    background-color: rgb(0, 0, 0, 0.9);
    height: 70px;
    position: absolute;
    z-index: 99;
    width: 100%;
}

ul{
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
}

li{
    list-style: none;
    margin-right: 20px;
    font-size: 15px;
    padding-bottom: 5px;
}

li:nth-child(3){
    margin-right: 40px;
}

a{
    text-decoration: none;
    color: var(--darkgrey);
    color: white;
}

.main-heading{
    position: absolute;
    text-align: center;
    color: white;
    font-size: 55px;
    width: 100%;
    top: 180px;
}

.contact{
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    position: relative;
    background-image: url("../photos_1/sarah-dorweiler-2s9aHF4eCjI-unsplash.jpg");
    background-size: cover;
    background-position: center;
    height: 900px;
}

.physical-details{
    min-width: 250px;
    background-color: rgb(85, 112, 85);
    border-radius: 5px;
    position: absolute;
    left: 400px;
    z-index: 99;
}

.detail{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 20px;
    color: white;
}

h4{
    font-size: 0.8rem;
    margin-bottom: 5px;
}

p{
    font-size: 0.7rem;
}

i{
    margin-right: 20px;
}

.flag{
    width: 15px;
    height: 10px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-left: 5px;
}

.stripe{
    width: 33.3%;
}

.stripe-1{
    background-color: darkgreen;
}

.stripe-2{
    background-color: white;
}

.stripe-3{
    background-color: orange;
}

.ireland{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.form-container{
    padding: 30px;
    background-color: var(--lightgreen);
    border-radius: 10px;
    width: 400px;
    position: relative;
    left: 70px;
}

label{
    color: white;
    font-size: 0.7rem;
    padding: 5px 0;
    font-weight: 600;
}

.question-form{
    color: red;
}

input{
    margin-bottom: 10px;
    padding: 5px;
    font-size: 0.6rem;
    outline: none;
    border: 2px solid var(--lightgreen);
}

input:active, input:focus{
    border: 2px solid var(--darkgreen);
}

.general-inputs{
    display: flex;
    flex-direction: column;
}

.textarea-message{
    display: flex;
    flex-flow: column nowrap;
}

textarea{
    outline: none;
    font-size: 0.7rem;
    padding: 5px;
    resize: vertical;
    margin-bottom: 20px;
}

.terms{
    text-align: center;
}

.terms-label{
    font-size: 0.6rem;
    padding: 5px;
}

.terms-label a{
    color: var(--darkgrey);
}

footer{
    background-color: var(--darkgrey);
    color: white;
    padding: 30px;
}

.copyright{
    text-align: center;
    margin-top: 20px;
}

.copyright h4{
    font-size: 0.9rem;
    font-weight: 400;
}

.footer-links{
    display: flex;
    flex-flow: row-reverse wrap;
    align-items: center;
    justify-content: space-between;
}

.socials-footer a{
    margin: 0 15px;
    transition: filter 0.1s ease;
}

.socials-footer a:hover{
    filter: invert(0.4);
}

.links{
    display: flex;
    font-size: 0.9rem;
}

.links a{
    margin: 0 15px;
}