:root{
    --lightgreen: rgb(176, 227, 176);
    --darkgreen: rgb(55, 103, 55);
    --lightgrey: rgb(209, 209, 209);
    --darkgrey: rgb(34, 34, 34);
}

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    background-color: rgb(0, 0, 0, 0.9);
    height: 70px;
    position: absolute;
    z-index: 99;
    width: 100%;
}

.logo{
    max-width: 50px;
    position: absolute;
    margin-top: 10px;
}

ul{
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
}

li{
    list-style: none;
    margin-right: 20px;
    font-size: 15px;
    padding-bottom: 5px;
}

li:nth-child(3){
    margin-right: 40px;
}

a{
    text-decoration: none;
    color: white;
    transition: color 0.1s ease;
}

a:hover{
    color: var(--darkgreen);
}

a:active{
    color: var(--lightgreen);
}

.background{
    background-image: url("../photos_1/plant_wall-background.avif");
    height: 500px;
    background-size: cover;
    background-position: right;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headings{
    text-align: center;
}

.problem-intro{
    display: flex;
    align-items: center;
}

.problem-container{
    width: 100%;
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: center;
    align-items: center;
    height: 400px;
}

#problem-span{
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 600;
}

#problems-image{
    height: 500px;
    border: 10px solid white;
    border-radius: 20px;
    position: relative;
    bottom: 60px;
}

h1, h2, h3{
    color: var(--darkgrey);
    margin: 5px 0;
}

h1{
    font-size: 30px;
    font-weight: 800;
    margin: 40px 0;
}

#title{
    font-size: 35px;
    font-weight: 800;
    color: var(--darkgrey);
    text-transform: capitalize;
    margin-bottom: 15px;
}

h3{
    font-size: 20px;
}

.problem-text{
    color: var(--darkgrey);
    max-width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 50px;
}

.problem-text, #problems-image{
    margin: 0 100px;
}

#problem-text-paragraph{
    line-height: 20px;
    font-size: 16px;
    color:var(--darkgrey);
    font-size: 14px;
}

.common_problems{
    background-image: url("../photos_1/long-grass_background.jpeg");
    background-position: center;
    background-size: cover;
    padding: 50px 30px;
}

article{
    width: 100%;
    margin: 30px 0;
    border-radius: 15px;
    border: 2px solid white;
}

.individual-container{
    width: calc(100%-12px); /* so the container doesn't overflow */
    perspective: 1000px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.rotate{
    transform: rotate(-90deg);
}

.rotate h3{
    color: white;
    font-size: 1.6rem;
    font-weight: 500;
    text-transform: uppercase;
}

.card-container_problem{
    position: relative;
    width: 200px;
    height: 250px;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    border: 2px solid white;
    border-radius: 10px;
}

.individual-container:hover .card-container_problem{
    transform: rotateY(-180deg);
}

.card_front, .card-back{
    position: absolute;
    width: 200px;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-back{
    height: 100%;
    width: 200px;
    flex-flow: column nowrap;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.8);
    color: var(--darkgrey);
    text-align: center;
    transform: rotateY(180deg);
    border-radius: 15px;
}

.card_front img{
    background-color: var(--lightgreen);
    height: 100%;
    width: 200px;
    border-radius: 15px;
}

h2{
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: white;
}

p{
    font-size: 10px;
    line-height: 15px;
    color: white;
    margin: 10px;
}

span{
    font-weight: 600;
    letter-spacing: 0.4px;
    color: var(--darkgreen);
}

.question-form{
    color: rgb(172, 0, 0);
}

.icon_container{
    width: 100%;
}

.fa-percent, .fa-circle-exclamation{
    transform: scale(0.6);
}

.humidity i, .poor_soil i, .low-flow i, .waterlogged i{
    position: absolute;
}

.low-flow {
    margin-left: 22px;
}

.humidity{
    margin-left: 6px;
}

i{
    transform: scale(1.2);
    margin: 0 4px;
}

.individual-text{
    max-width: 400px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.individual-text h3{
    font-weight: 900;
    font-size: 1.4rem;
    margin-bottom: 20px;
    color: white;
    text-transform: uppercase;
    font-weight: 300;
}

.individual-text p{
    font-size: 0.8rem;
    line-height: 18px;
}

.guide{
    border: 1px solid red;
    background-color: var(--lightgrey);
    max-width: 250px;
}

.contact, .button-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact{
    flex-flow: column nowrap;
}

.toggle-button-label{
    background-color: var(--darkgreen);
    color: white;
    font-size: 15px;
    padding: 15px 30px;
    border-radius: 10px;
    display: inline-block;
    cursor: pointer;
    margin-bottom: 30px;
}

#toggle-button{
    position: absolute;
}

.toggle-button-label:hover{
    background-color: rgb(32, 60, 32);
}

.toggle-button-label:active{
    background-color: rgb(23, 43, 23);
    font-size: 14px;
}

.issue-text{
    color: var(--darkgreen);
    font-size: 40px;
    font-weight: 700;
    margin: 50px 0;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    width: 250px;
    border-radius: 10px;
    padding: 20px;
    position: relative;
    background-color: rgb(121, 148, 127);
}

.form-container{
    opacity: 0;
    position: absolute;
    transform: translateY(100px);
    transition: opacity 0.2s ease, transform 0.6s ease;
    pointer-events: none;
    bottom: -900px;
}

#toggle-button:checked + .form-container{
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.general-inputs{
    margin-bottom: 30px;
    width: 100%;
}

.textarea-message{
    display: flex;
    flex-direction: column;
    width: 100%;
}

label{
    font-size: 0.6rem;
    font-weight: 600;
    margin-bottom: 5px;
}

input, textarea{
    width: calc(100% - 12px);    /* so input doesn't overflow */
    margin: 5px 0px;
    padding: 6px;
    font-size: 0.6rem;
    outline: none;
    border: 1px solid rgb(235, 235, 235);
    transition: border 0.1s ease;
    margin-bottom: 10px;
    border-radius: 3px;
}

textarea{
    resize: vertical;  /* only allows resizing in y-axis */
    margin-bottom: 20px;
}

input:hover, textarea:hover{
    border: 1px solid var(--lightgreen);
}

input:focus, textarea:focus{
    border: 1px solid var(--darkgreen);
}

#submit{
    padding: 4px;
    width: 100px;
    border-color: rgb(235, 235, 235);
    transform: translateX(50px), translateY(35px);
}

.terms-conditions{
    color: var(--darkgreen);
    transition: color 0.2s ease;
}

.terms-conditions:hover{
    color: var(--lightgreen);
}

#toggle-button-send:checked + .form-container{
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

footer{
    background-color: var(--darkgrey);
    color: white;
    padding: 30px;
}

.copyright{
    text-align: center;
    margin-top: 20px;
}

.copyright h4{
    font-size: 0.9rem;
    font-weight: 400;
}

.footer-links{
    display: flex;
    flex-flow: row-reverse wrap;
    align-items: center;
    justify-content: space-between;
}

.socials-footer a{
    margin: 0 15px;
    transition: filter 0.1s ease;
}

.socials-footer a:hover{
    filter: invert(0.4);
}

.links{
    display: flex;
    font-size: 0.9rem;
}

.links a{
    margin: 0 15px;
}

@media all and (max-width: 400px) {
    .common_problems{
        padding: 50px 0;
    }
}