:root{
    --lightgreen: rgb(176, 227, 176);
    --darkgreen: rgb(55, 103, 55);
    --lightgrey: rgb(209, 209, 209);
    --darkgrey: rgb(34, 34, 34);
}

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    background-color: rgb(0, 0, 0, 0.9);
    height: 70px;
    position: absolute;
    z-index: 99;
    width: 100%;
}

.logo{
    max-width: 50px;
    position: absolute;
    margin-top: 10px;
}

ul{
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
}

li{
    list-style: none;
    margin-right: 20px;
    font-size: 15px;
    padding-bottom: 5px;
}

li:nth-child(3){
    margin-right: 40px;
}

a{
    text-decoration: none;
    border-bottom: 1px solid black;
    color: white;
    transition: color 0.1s ease;
}

a:hover{
    color: var(--darkgreen);
}

a:active{
    color: var(--lightgreen);
}

.problem-intro{
    display: flex;
    align-items: center;
}

.problem-container{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    margin: 100px 0;
}

#problems-image{
    height: 500px;
    border: 10px solid var(--darkgrey);
    border-radius: 20px;
}

.headings{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1, h2, h3{
    color: var(--darkgrey);
    margin: 5px 0;
}

h1{
    font-size: 35px;
    font-weight: 800;
    padding: 20px;
}

#title{
    font-size: 20px;
    font-weight: 700;
    color: var(--darkgrey);
    text-transform: capitalize;
}

h3{
    font-size: 14px;
}

.problem-text{
    color: var(--darkgrey);
    max-width: 450px;
    display: flex;
    align-items: center;
}

#problem-text-paragraph{
    line-height: 20px;
    font-size: 16px;
    color:var(--darkgrey);
}

.common_problems{
    background-image: url("../photos_1/long-grass_background.jpeg");
    background-position: center;
    background-size: cover;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
}

.individual-container{
    border: 2px solid white;
    border-radius: 15px;
    margin: 20px;
    width: 180px;
    height: 250px;
    perspective: 1000px;
}

.card-container_problem{
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.individual-container:hover .card-container_problem{
    transform: rotateY(-180deg);
}

.card_front, .card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-back{
    height: 100%;
    width: 100%;
    flex-flow: column nowrap;
    justify-content: space-around;
    background-color: rgba(177, 177, 177, 0.8);
    color: var(--darkgrey);
    text-align: center;
    transform: rotateY(180deg);
    border-radius: 15px;
}

.card_front img{
    background-color: var(--lightgreen);
    height: 100%;
    width: 100%;
    border-radius: 15px;
}

h2{
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: white;
}

p{
    font-size: 10px;
    line-height: 15px;
    color: white;
    margin: 10px;
}

span{
    font-weight: 600;
    letter-spacing: 0.4px;
    color: var(--darkgreen);
}

.icon_container{
    width: 100%;
}

.fa-percent, .fa-circle-exclamation{
    transform: scale(0.6);
}

.humidity i, .poor_soil i, .low-flow i, .waterlogged i{
    position: absolute;
}

.low-flow {
    margin-left: 22px;
}

.humidity{
    margin-left: 6px;
}

i{
    transform: scale(1.2);
    margin: 0 4px;
}

.contact, .button-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact{
    flex-flow: column nowrap;
}

button{
    border: 10px solid white;
    border-radius: 15px;
    padding: 20px 70px;
    background-color: var(--darkgreen);
    color: white;
    font-size: 15px;
    width: 300px;
}

button:hover{
    background-color: rgb(32, 60, 32);
}

button:active{
    background-color: rgb(23, 43, 23);
    font-size: 14px;
}

.issue-text{
    color: var(--darkgreen);
    font-size: 30px;
    margin: 50px 0;
}

form{
    border: 1px solid red;
}

footer{
    background-color: var(--darkgrey);
    color: white;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    margin-top: 30px;
}

.links{
    display: flex;
    flex-flow: row wrap;
}

.links a{
    margin: 0 5px;
}

h4{
    font-size: 14px;
}

@media all and (max-width: 400px) {
    .common_problems{
        padding: 50px 0;
    }
}